.header {
  background-color: #007BFF; 
  height: 60px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.searchForm {
  width: 100%;
  max-width: 600px; 
}

.searchInputWrapper {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.544);
  font-size: 20px;
}

.input {
  width: 100%;
  padding: 10px 10px 10px 35px; 
  font-size: 18px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #fff; 
}

.input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
